{% extends feincms_page.template.path|default:"pages/blog.html" %}

{% load feincms_tags i18n elephantblog_tags applicationcontent_tags %}

{% block content_title %}
	<h1>News
		<small>
		    {% if year %}for {{ year }}{% endif %}
		    {% if month %}for {{ month|date:"F Y" }}{% endif %}
		    {% if day %}for {{ day|date:"j. F Y" }}{% endif %}
		    {% if category %}for {{ category }}{% endif %}
		</small>
	</h1>
{% endblock %}

{% block blog_content %}
	{% block entry_detail %}{% endblock %}
	{% block object_list %}{% endblock %}
	{% block pagination %}{% endblock %}
{% endblock blog_content %}
