{% extends "elephantblog/base.html" %}

{% load feincms_tags i18n %}

{% block title %}{{entry}} - {{ block.super }}{% endblock %}
{% block extra_body_classes %}entry-detail{% endblock %}

{% block content_title %}
	<h4>News</h4>
	<a name="{{entry|slugify}}"></a>
	<h1 id="entry-title">{{ object }}
		<div class="share-buttons">
			<!-- Facebook Like + Count (dark version) -->
			<div id="fb-root"></div>
			<script src="http://connect.facebook.net/en_US/all.js#appId=245406032159496&xfbml=1"></script>
			<fb:like href="" send="false" layout="button_count" width="100" show_faces="false" colorscheme="light" font="arial" class="fb-like-button">
			</fb:like>

			<a href="https://twitter.com/share" class="twitter-share-button" data-via="" data-related="">Tweet</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
	</h1>
{% endblock %}

{% block entry_detail %}
	<div id="entry-body">

		<div class="entry-content">
			{% for content in entry.content.main %}
				{{ content.render }}
			{% endfor %}
		</div>

		<hr style="clear:both">

		<dl class="meta dl-horizontal">
			<dt>Published</dt>
				<dd>{{ entry.published_on|date:"F j, Y" }}</dd>
			<dt>Author</dt>
				<dd><a href="" class="author">{{entry.author.get_full_name}}</a></dd>
			<dt>Categories</dt>
				<dd>
					{% for category in entry.fetched_categories %}
			        	<a href="{{ category.get_absolute_url }}">{{ category }}</a>{% if not forloop.last %},{% endif %}
					{% endfor %}
				</dd>
			<dt>Tags</dt>
				<dd></dd>
		</dl>

		<hr>

		<a href="{{feincms_page.get_absolute_url}}" class="back-to-news btn btn-primary btn-small">
			<i class="icon-circle-arrow-left icon-white"></i>
			Back to News
		</a>
		<a href="#{{entry|slugify}}" class="return-to-top btn btn-small btn-primary">
			<i class="icon-circle-arrow-up icon-white"></i>
			Return to Top
		</a>
	</div>
{% endblock %}
