{% extends "elephantblog/base.html" %}

{% load feincms_tags i18n elephantblog_tags %}

{% block title %}{% trans "News" %} - {{ block.super }}{% endblock %}
{% block extra_body_classes %}latest-news{% endblock %}

{% block object_list %}
<ul class="media-list entry-archive-list">
	{% for entry in object_list %}
		<li class="media entry-archive-item">
		 	<a class="pull-left entry-archive-preview-image" href="{{ entry.get_absolute_url }}">
		  		{{ entry.first_image.render }}
			</a>
			<div class="media-body entry-archive-body">
				<h4 class="media-heading">
					<a href="{{ entry.get_absolute_url }}">{{ entry }}</a>
					<small>
						<span class="entry-month">{{ entry.published_on|date:"F" }}</span>
						<span class="entry-day">{{ entry.published_on|date:"j" }}</span>

						<a href="" class="entry-author">{{entry.author.get_full_name}}</a>
					</small>
				</h4>
				{{ entry.first_richtext.render }}
			</div>
		</li>
	{% endfor %}
</ul>
{% endblock %}

{% block pagination %}

<div class="pagination">
	<ul>
	    {% if page_obj.has_previous %}
	        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
	    {% endif %}

	    {% for p in page_obj.page_range|default_if_none:page_obj.paginator.page_range %}
	        {% if not p %}
	        	<li>&hellip;</li>
	        {% else %}
	            <li>
	            <a {% if p == page_obj.number and not page_obj.show_all_objects %}class="active"{% endif %} href="?page={{ p }}">
	            	{{ p }}
	           	</a>
	           </li>
	        {% endif %}
	    {% endfor %}

	    {% if page_obj.has_next %}
	        <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
	    {% endif %}
	</ul>
</div>

{% endblock %}


