{% extends "base.html" %}
{% load applicationcontent_tags feincms_tags feincms_page_tags %}

{% block meta %}
	{% if feincms_page.meta_description %}
		<meta name="keywords" content="{{feincms_page.meta_keywords}}" />
	{% endif %}
	{% if feincms_page.meta_keywords %}
		<meta name="description" content="{{feincms_page.meta_description}}" />
	{% endif %}
{% endblock %}

{% block head %}
	<title>Your Site Name | {{feincms_page.page_title}}</title>
{% endblock head %}

{% block body_class %}{{ feincms_page.slug }}{% endblock %}

{% block header %}
	<div class="navbar" id="main-navigation">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand sprites" href="/">Your Site Name</a>
				<div class="nav-wrap">
					<ul class="nav">
						{% feincms_nav feincms_page level=1 as toplevel %}
						{% for pg in toplevel %}
							<li {% if pg|is_equal_or_parent_of:feincms_page %}class="active"{% endif %}>
								<a href="{{ pg.get_absolute_url }}">
									{{ pg.title }}</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="page-header">
			{% block content_title %}<h1>{{feincms_page.page_title}}</h1>{% endblock %}
		</div>
	</div>
{% endblock header %}

{% block footer %}
	<footer class="container">
		<small>Copyright 2012</small>
	</footer>
{% endblock footer %}