{% extends "pages/base.html" %}
{% load feincms_tags %}

{% block content %}
<div class="row">
	<div class="span12">
		{% block blog_content %}
			{# Blog contents goes here #}
		{% endblock %}
	</div>
</div>
{% endblock %}