{% extends "pages/base.html" %}
{% load feincms_tags %}

{% block content %}
	<div class="row">
		<div class="span12">
			{% feincms_render_region feincms_page "main" request %}
		</div>
	</div>
{% endblock %}