<!DOCTYPE html>

{% load i18n sekizai_tags compress %}

{% addtoblock 'css' %}
	{% compress css %}
	<link rel="stylesheet" href="{{STATIC_URL}}less/site.less" type="text/x-less" />
	{% endcompress %}
{% endaddtoblock %}

{% addtoblock 'js' %}
	<script src="{{STATIC_URL}}js-lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
{% endaddtoblock %}

{% addtoblock 'js' %}
	<script src="{{STATIC_URL}}js-lib/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="https://platform.twitter.com/widgets.js" type="text/javascript"></script>
{% endaddtoblock %}

<html>
	<head>
		<meta charset="utf-8">
		<link href="{{STATIC_URL}}favicon.ico" rel="icon" type="image/x-icon">
		{% block meta %}{% endblock %}
		{% block head %}{% endblock %}

		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	    <!--[if lt IE 9]>
	      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->

        {% render_block 'css' %}

		{% block ember_templates %}{% endblock %}
    </head>

	<body class="{% block body_class %}{% endblock %} {% block extra_body_classes %}{% endblock %}">
		{% block afterbody %}{% endblock %}

		<header id="header">
		{% block header %}{% endblock %}
		</header><!-- /header -->

		{% block after_header %}{% endblock %}
		<div class="container">
		{% block content %}{% endblock %}
		</div>

		{% block footer %}{% endblock %}

	</body>
	{% render_block 'js' %}
	{% block extra_scripts %}{% endblock %}
</html>