@import "../../submodules/bootstrap/less/variables.less";
@import "../../submodules/bootstrap/less/mixins.less";
@import "../../submodules/bootstrap/less/sprites.less";
@import "../../submodules/bootstrap/less/buttons.less";
@import "../../submodules/bootstrap/less/button-groups.less";
@import "../../submodules/bootstrap/less/close.less";
@import "../../submodules/bootstrap/less/modals.less";

form .aligned {
	.wysihtml5-toolbar + textarea, .wysihtml5-sandbox {
		margin-left: 106px !important;
	}
}

.btn-primary,
.btn-primary:hover,
.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover,
.btn-inverse,
.btn-inverse:hover {
	color:white !important;
}

.inline-related fieldset.module .modal-header h3 {
	font-size: 14px;
	margin: .8em 0 .3em 0;
	color: #666;
	font-weight: bold;
	margin-top: .6em;
	background: none;
	border-bottom:none;
}

