@import "bootstrap.less";
@import "utils.less";
@import "tooltip.less";
@import "sprites.less";
@import "twitter.less";

/* Start writing less css here ;) http://lesscss.org */

.entry-archive-item {

	.entry-archive-preview-image {
		display:block;
		height:100px;
		width:100px;
		overflow:hidden;
	}

}

.share-buttons {

	display:inline-block;
	margin-left:1ex;

	.fb-like-button {
		vertical-align: middle;
		line-height:0px;
		margin-right:5px;
	}

	.twitter-share-button {
		vertical-align: middle;
	}

}