.tooltip {
	line-height: 2.25em;
	&.error {
		&.top {
			.tooltip-arrow {
				border-top-color: @red;
			}
		}
		&.bottom {
			.tooltip-arrow {
				border-bottom-color: @red;
			}
		}
		&.right {
			.tooltip-arrow {
				border-right-color: @red;
			}
		}
		&.left {
			.tooltip-arrow {
				border-left-color: @red;
			}
		}
		.tooltip-inner {
			background-color:@red;
			font-weight:bold;
		}
	}
	
	&.success {
		&.top {
			.tooltip-arrow {
				border-top-color: @green;
			}
		}
		&.bottom {
			.tooltip-arrow {
				border-bottom-color: @green;
			}
		} 
		&.right {
			.tooltip-arrow {
				border-right-color: @green;
			}
		}
		&.left {
			.tooltip-arrow {
				border-left-color: @green;
			}
		}
		.tooltip-inner {
			background-color:@green;
			font-weight:bold;
		}		
	}
}