.twitter-bubble {

	.carousel {

		@carouselControlSideLength: 24px;
		@bubbleColor: #cecece;
		@bubbleHeight: 115px;
		@birdLogoHeight: 30px;
		@carouselPaddingTop: @birdLogoHeight - 5;

		padding-top:@carouselPaddingTop;

		.bird {
			background: url(../img/twitter_logo_lrg.png) no-repeat;
			height:@birdLogoHeight;
			width:43px;
			position:absolute;
			top:0;
			left:0;
			z-index: 1000;
		}

		.arrow {
			@borderWidth: 12px;

			height:0;
			width:0;
			border:@borderWidth solid transparent;
			border-color: transparent @bubbleColor transparent transparent ;
			position:absolute;
			top: (@carouselPaddingTop + @bubbleHeight) - (@borderWidth);
			left: 15px;

		}

		.carousel-control {
			width:@carouselControlSideLength;
			height:@carouselControlSideLength;
			margin-top:0;
			background:@grayLight;
			border:none;
			line-height:20px;
			top:50%;
			font-size:30px;


			//.box-shadow(1px 1px 5px #888);
			//.opacity(100);

			&.right {
				background-position:center bottom;
				right: (@carouselControlSideLength/2)*-1;
			}

			&.left {
				left: (@carouselControlSideLength/2)*-1;
			}
		}

		.carousel-inner {
			background:@bubbleColor;
			color:#fff;
			height:@bubbleHeight;

			p {
				padding:15px 25px;
			}
		}

		.utils {
			.reset-list-style();
			position:absolute;
			padding:15px 25px;

			li {
				float:left;
				margin-left: 1ex;
				font-style: italic;

				&.created-at {
					font-family: @serifFontFamily;
				}
			}
		}
	}
}